/* GENERAL */

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

/* NAV */

/* FILTERS */

/* CARD */

.article-card {
  border-radius: 4px;
  margin: 2.4rem;
  padding: 2.4rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.article-title-box {
  margin-bottom: 0.8rem;
}

.article-title {
  font-size: 1.6rem;
}

.card-badges {
  display: flex;
  gap: 1rem;
}

.card-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: lightcoral;
  color: white;
}
