/* GENERAL */

:root{

  font-size: 15px;

  --cardsBackground: rgb(177, 177, 177);

}

body{

  background-color: rgb(240, 240, 240);

}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

h1{

  font-size: 5rem;
  text-align: center;
  padding: 2rem;

}

/* NAV */

/* FILTERS */

/* CARD */

.card{

  margin: 1rem;
  padding: 0.75rem;
  
  border-radius: 0.5rem;
  border: 1px solid black;

  background-color: var(--cardsBackground);

}

.article-card {
  border-radius: 4px;
  margin: 2.4rem;
  padding: 2.4rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.article-title-box {
  margin-bottom: 0.8rem;
}

.article-title {
  font-size: 1.6rem;
}

.card-badges {
  display: flex;
  gap: 1rem;
}

.card-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: lightcoral;
  color: white;
}
